<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <chapter-unit-selecter-component
                subject-id="$ctrl.subjectId">
        </chapter-unit-selecter-component>
    </div>

</div>
<div class="row">
    <div class="col-md-2">Câu hỏi</div>
    <div class="col-md-10">
        <input-math-h-component id="Quest"></input-math-h-component>
    </div>
</div>
