<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Thống kê xuất bản câu hỏi Ôn Tập</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-6">Chuyên đề</div>
                <div class="col-md-3">Đã xuất bản</div>
                <div class="col-md-3">Chưa xuất bản</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Thống kê xuất bản Đề Thi </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

        </div>
    </div>
</div>

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Thống kê xuất bản Bài Kiểm Tra </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
        </div>
    </div>
</div>