
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Danh sách câu hỏi : {{subjectName}}<small></small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Settings 1</a>
							</li>
							<li><a href="#">Settings 2</a>
							</li>
						</ul>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<div class="row">

					<fieldset>
						<div class="col-md-3">
							<select class="form-control" id="select-1"
									ng-model="quizObj.chapterName" ng-change="changeUnit()">
								<option value="">Chương</option>
								<option ng-repeat="chapter in privilegeChapter"
										value="{{chapter.id}}">{{chapter.name}}</option>
							</select>
						</div>

						<div class="col-md-3">
							<select class="form-control" id="select-2"
									ng-model="quizObj.unit">
								<option value="">Chuyên đề </option>
								<option ng-repeat="unit in privilegeUnit"
										value="{{unit.id}}">{{unit.name}}</option>
							</select>
						</div>

						<div class="col-md-3">
							<button class="btn btn-default" type="button"
									ng-click="createNewQuiz()">Tạo câu hỏi</button>
						</div>
					</fieldset>
				</div>
				<div class="row">

					<table class="table table-hover quiz-list-table">
						<thead>
						<tr>
							<th>#</th>
							<th>Mã</th>
							<th>Câu hỏi</th>
							<th>Chuyên đề</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr class="odd gradeX" ng-repeat="quiz in quizPaging">
							<td class="col-md-1">{{quiz.idex}}</td>
							<td class="col-md-1">{{quiz.id}}</td>
							<td class="col-md-6">{{quiz.question}}</td>
							<td class="col-md-2">{{quiz.eduUnit.unitName}}</td>
							<td class="col-md-2"><a class="btn btn-app" ng-click="editQuiz(quiz)">
								<i class="fa fa-edit"></i> Sửa
							</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="dataTables_info" id="datatable-buttons_info" role="status" aria-live="polite">
						Showing {{((currPage*rowPerPage)- rowPerPage)+1}}
						to {{currPage*rowPerPage < quizList.length?currPage*rowPerPage:quizList.length}}
						of {{quizList.length}} entries
					</div>
					<div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
						<ul class="pagination">
							<li class="paginate_button previous" id="datatable_previous">
								<a aria-controls="datatable" data-dt-idx="0" tabindex="0"
								   ng-click="onPagingPrevious()">Previous</a></li>
							<li class="paginate_button" ng-repeat="n in numPagingBar">
								<a aria-controls="datatable" data-dt-idx="1" tabindex="0"
								   ng-click="onPaging(n)">{{n}}</a></li>
							<li class="paginate_button next" id="datatable-fixed-header_next">
								<a aria-controls="datatable-fixed-header" data-dt-idx="7" tabindex="0"
								   ng-click="onPagingNext()">Next</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
