<div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Nhập Câu Hỏi : {{subjectName}}<small></small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Settings 1</a>
							</li>
							<li><a href="#">Settings 2</a>
							</li>
						</ul>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<form name="formInputQuestion" id="formInputQuestion" class="form-horizontal">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-2">
								No. #{{quizObj.id}}
							</div>
							<div class="col-md-4">

								<select class="form-control" id="select-chapter"
										ng-model="quizObj.chapterId"
										ng-change="updateSelectUnit()">
									<option value="">Chọn chương</option>
									<option ng-repeat="chp in chapterOption" value="{{ chp.chapterId }}">{{ chp.chapterName }}</option>
								</select>
							</div>
							<div class="col-md-4">
								<select class="form-control" id="select-unit" ng-model="quizObj.unitId">
									<option ng-repeat="item in unitOption" value="{{ item.unitId }}">{{ item.unitName }}</option>
								</select>
							</div>

						</div>
						<div class="row" ng-if="isEdit">
							<div class="col-md-2">
								<label class="control-label">Chuyên đề</label>
							</div>
							<div class="col-md-10">
								<label class="control-label">{{quizObj.eduUnit.unitName}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label class="control-label">Mức độ</label>
							</div>
							<div class="col-md-10">
								<label class="radio radio-inline">
									<input ng-if="quizObj.level == 1" type="radio" name="radioOptionLevel" value="1" ng-value="quizObj.level" ng-model="quizObj.level"/>
									<input ng-if="quizObj.level != 1" type="radio" name="radioOptionLevel" value="1" ng-model="quizObj.level"/> Nhận biết
								</label>
								<label class="radio radio-inline">
									<input ng-if="quizObj.level == 2" type="radio"  name="radioOptionLevel" value="2" ng-value="quizObj.level" ng-model="quizObj.level" />
									<input ng-if="quizObj.level != 2" type="radio"  name="radioOptionLevel" value="2" ng-model="quizObj.level" />
									 Thông hiểu
								</label>
								<label class="radio radio-inline">
									<input ng-if="quizObj.level == 3" type="radio"  name="radioOptionLevel" value="3" ng-value="quizObj.level"  ng-model="quizObj.level" /> 
									<input ng-if="quizObj.level != 3" type="radio"  name="radioOptionLevel" value="3" ng-model="quizObj.level" /> 
									Vận dụng
								</label>
								<label class="radio radio-inline">
									<input ng-if="quizObj.level == 4" type="radio"  name="radioOptionLevel" ng-value="quizObj.level"  value="4" ng-model="quizObj.level" />
									<input ng-if="quizObj.level != 4" type="radio"  name="radioOptionLevel"  value="4" ng-model="quizObj.level" />
									 Vận dụng cao
								</label>
							</div>
						</div>

						<!-- QUESTION ROW -->

						<div class="row">
							<div class="col-md-6">
								<label class="control-label">Câu hỏi</label>
								<textarea class="form-control" rows="3"
										  ng-model="quizObj.question"
										  required="required"
										  id="QuestionTxtArea">
								</textarea>
							</div>
							<div class="col-md-4">
								<label class="control-label">Xem trước</label>
								<div id="QuestionMathPreview" style="border:1px solid; padding: 3px; width:100%;height: 250px; margin-top:5px"></div>
								<div id="QuestionMathBuffer" style="border:1px solid; padding: 3px; width:100%;height: 250px; margin-top:5px;
										visibility:hidden; position:absolute; top:0; left: 0;overflow: auto;"></div>
							</div>
							<div class="col-md-2">
								<div class="drop-box">
									<img class="imgFile" ng-src="{{quizObj.previewImagePositon0 || '//:0'}}" ng-show="quizObj.previewImagePositon0"/>
								</div>
								<div class="attach-file-action">
									<a id="imgPosition0" href="#" ng-click="myFunction('attach-position0')">Đính kèm </a> | <a href="#"> Xoá</a>
									<input type="file" file-model="uploadImgFile" onchange="angular.element(this).scope().imageUpload(event,0)" class="attachment-input" name="attach-position0" id="attach-position0" />
								</div>
							</div>
						</div>

						<div class="row">

							<div class="col-md-3">
								<label class="control-label" for="radioA"> Đáp án A</label>
								<label class="radio radio-inline radio-answer">
									<input type="radio" id="radioA" name="radioOptionAnswer" value="A" ng-model="quizObj.chkAnswer"/> Đúng
								</label>
								<textarea id="answerATxtArea" class="form-control" ng-model="quizObj.answerA"  rows="3"></textarea>
								<div id="answerAPreview" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px"></div>
								<div id="answerABuffer" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px;
										visibility:hidden; position:absolute; top:0; left: 0; overflow: auto;"></div>
								<!--<div class="drop-box">
									<img class="imgFile" ng-src="{{quizObj.previewImagePositon1 || '//:0'}}" ng-show="quizObj.previewImagePositon1"/>
								</div>
								<div class="attach-file-action">
									<a id="imgPosition1" href="#" ng-click="myFunction('attach-position1')">Đính kèm </a> | <a href="#"> Xoá</a>
									<input type="file" file-model="uploadImgFile" onchange="angular.element(this).scope().imageUpload(event,1)" class="attachment-input" name="attach-position1" id="attach-position1" />
								</div>-->
							</div>
							<div class="col-md-3">
								<label class="control-label" for="radioB"> Đáp án B</label>
									<label class="radio radio-inline radio-answer">
										<input type="radio" id="radioB" name="radioOptionAnswer" value="B" ng-model="quizObj.chkAnswer" /> Đúng
									</label>
								<textarea id="answerBTxtArea" class="form-control" ng-model="quizObj.answerB" rows="3"></textarea>
								<div id="answerBPreview" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px"></div>
								<div id="answerBBuffer" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px;
										visibility:hidden; position:absolute; top:0; left: 0; overflow: auto;"></div>
								<!--<div class="drop-box">
									<img class="imgFile" ng-src="{{quizObj.previewImagePositon2 || '//:0'}}" ng-show="quizObj.previewImagePositon2"/>
								</div>
								<div class="attach-file-action">
									<a id="imgPosition2" href="#" ng-click="myFunction('attach-position2')">Đính kèm </a> | <a href="#"> Xoá</a>
									<input type="file" file-model="uploadImgFile" onchange="angular.element(this).scope().imageUpload(event,2)" class="attachment-input" name="attach-position2" id="attach-position2" />
								</div>-->
							</div>
							<div class="col-md-3">

								<label class="control-label" for="radioC"> Đáp án C</label>
									<label class="radio radio-inline radio-answer">
										<input type="radio" id="radioC" name="radioOptionAnswer" value="C" ng-model="quizObj.chkAnswer" /> Đúng
									</label>
								<textarea id="answerCTxtArea" class="form-control" rows="3" ng-model="quizObj.answerC"></textarea>
								<div id="answerCPreview" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px"></div>
								<div id="answerCBuffer" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px;
										visibility:hidden; position:absolute; top:0; left: 0; overflow: auto;"></div>
								<!--<div class="drop-box">
									<img class="imgFile" ng-src="{{quizObj.previewImagePositon3 || '//:0'}}" ng-show="quizObj.previewImagePositon3"/>
								</div>
								<div class="attach-file-action">
									<a id="imgPosition3" href="#" ng-click="myFunction('attach-position3')">Đính kèm </a> | <a href="#"> Xoá</a>
									<input type="file" file-model="uploadImgFile" onchange="angular.element(this).scope().imageUpload(event,3)" class="attachment-input" name="attach-position3" id="attach-position3" />
								</div>-->
							</div>
							<div class="col-md-3">
								<label class="control-label" for="radioD"> Đáp án D</label>
									<label class="radio radio-inline radio-answer">
										<input type="radio" id="radioD" name="radioOptionAnswer" value="D" ng-model="quizObj.chkAnswer" /> Đúng
									</label>
								<textarea id="answerDTxtArea" class="form-control" rows="3" ng-model="quizObj.answerD"></textarea>
								<div id="answerDPreview" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px"></div>
								<div id="answerDBuffer" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px;
										visibility:hidden; position:absolute; top:0; left: 0; overflow: auto;"></div>
								<!--<div class="drop-box">
									<img class="imgFile" ng-src="{{quizObj.previewImagePositon4 || '//:0'}}" ng-show="quizObj.previewImagePositon4"/>
								</div>
								<div class="attach-file-action">
									<a id="imgPosition4" href="#" ng-click="myFunction('attach-position4')">Đính kèm </a> | <a href="#"> Xoá</a>
									<input type="file" file-model="uploadImgFile" onchange="angular.element(this).scope().imageUpload(event,4)" class="attachment-input" name="attach-position4" id="attach-position4" />
								</div>-->
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<label class="control-label"> Phương pháp</label>
								<textarea class="form-control" type="text" ng-model="quizObj.solution"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<label class="control-label"> Lời giản chi tiết</label>
								<textarea id="answerDetailTxtArea" class="form-control" rows="3" ng-model="quizObj.detailAnswer"></textarea>
							</div>
							<div class="col-md-4">
								<label class="control-label"> Xem trước</label>
								<div id="detailAnswerPreview" style="border:1px solid; padding: 3px; width:100%;height: 120px; margin-top:5px"></div>
								<div id="detailAnswerBuffer" style="border:1px solid; padding: 3px; width:100%;height: 120px; margin-top:5px;
										visibility:hidden; position:absolute; top:0; left: 0; overflow: auto;"></div>
							</div>
							<div class="col-md-2">
								<div class="drop-box">
									<img class="imgFile" ng-src="{{quizObj.previewImagePositon5 || '//:0'}}" ng-show="quizObj.previewImagePositon5"/>
								</div>
								<div class="attach-file-action">
									<a id="imgPosition5" href="#" ng-click="myFunction('attach-position5')">Đính kèm </a> | <a href="#"> Xoá</a>
									<input type="file" file-model="uploadImgFile" onchange="angular.element(this).scope().imageUpload(event,5)" class="attachment-input" name="attach-position5" id="attach-position5" />
								</div>
							</div>
						</div>

						<div class="row">
							<!-- <div class="col-sm-4">
								<button ng-click="preQuiz()" style="float: left;" class="btn btn-default" type="submit">
									<i class="fa fa-edit"></i> Câu Trước
								</button>
								<button ng-click="exitQuiz()" style="float: left;" class="btn btn-default" type="submit">
									<i class="fa fa-exit"></i> Thoát
								</button>
							</div>
							<div class="col-sm-6">

							</div> -->
							<div class="col-md-4">
							</div>
							<div class="col-md-4">

								<button ng-click="saveAndNext()" style="float: right;" class="btn btn-primary" type="submit">
									<i class="fa fa-save"></i> Lưu & Nhập Tiếp
								</button>
								<button ng-click="saveAndQuit()" style="float: right;" class="btn btn-info" type="submit">
									<i class="fa fa-save"></i> Lưu & Thoát
								</button>
							</div>
						</div>
					</div>
					<br clear="all" />
				</form>
			</div>
		</div>
	</div>

</div>

