
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách chương : {{subjectName}}<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" id="name" placeholder="Tên chương" required="required"
                               ng-model="newObj.chpName"
                               class="form-control col-md-7 col-xs-12 {{errorClass}}">
                    </div>
                    <div class="col-md-2">
                        <input type="number" id="order" placeholder="Thứ tự" required="required"
                               ng-model="newObj.chpOrder"
                               class="form-control col-md-7 col-xs-12 {{errorClass}}">
                    </div>
                    <div class="col-md-3">
                        <img class="imgFile" ng-src="{{iconSrc || '//:0'}}"
                             style="width: 64px; margin-top: -29px;"
                             ng-show="iconSrc"/>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
                        <button type="submit" class="btn btn-success" ng-click="persist()">Thêm</button>
                        <span class="parsley-required">{{notification}}</span>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-3">
                        <input type="file" file-model="iconFile"
                               onchange="angular.element(this).scope().onchangeFileUpload(event,0)" />
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Tên</th>
                        <th>Thứ tự</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX" ng-repeat="chapter in chapterMap" >
                        <td>
                            <img class="imgFile" ng-src="{{awsBucket+chapter.chpIcon}}"
                                 style="width: 64px;"/>
                        </td>
                        <td>{{chapter.chpName}}</td>
                        <td>{{chapter.chpOrder}}</td>
                        <td>
                            <a class="btn btn-app" ng-click="goEditChapter(chapter)">
                                <i class="fa fa-edit"></i> Sửa
                            </a>
                            <a class="btn btn-app" ng-click="goDetailUnit(chapter)">
                                <i class="fa fa-list-alt"></i>C.Đề</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
