<div class="login">
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper" style="margin-top: 0px;">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <h1>EDUKA ADMIN</h1>
                    <div style="height: 30px;color: red"><i class=""></i>{{error}}</div>
                    <div>
                        <input type="text" class="form-control" ng-model="userName" placeholder="Username" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" ng-model="password" placeholder="Password" required="" />
                    </div>
                    <div>
                        <a class="btn btn-default submit" ng-click="login()">Log in</a>
<!--
                        <a class="reset_pass" href="#">Lost your password?</a>
-->
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">
                            Giải pháp giáo dục hiệu quả
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> Eduka.io</h1>
                            <p>©2016 All Rights Reserved. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div id="register" class="animate form registration_form">
            <section class="login_content">
                <form>
                    <h1>Create Account</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" required="" />
                    </div>
                    <div>
                        <input type="email" class="form-control" placeholder="Email" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required="" />
                    </div>
                    <div>
                        <a class="btn btn-default submit" href="index.html">Submit</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Already a member ?
                            <a href="#signin" class="to_register"> Log in </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>
