<div class="row">
    <div class="col-md-6">
        <select class="form-control" id="select-chapter"
                ng-model="$ctrl.chapterIdSelected"
                ng-change="$ctrl.updateUnitOption()">
            <option value="0">Chọn chương</option>
            <option ng-repeat="chp in $ctrl.chapterOption" value="{{chp.chapterId}}">{{ chp.chapterName }}</option>
        </select>
    </div>
    <div class="col-md-6">
        <select class="form-control" id="select-unit"
                ng-model="$ctrl.unitIdSelected"
                ng-change="$ctrl.updateUnitId()">
            <option ng-repeat="item in $ctrl.unitOption" value="{{ item.unitId }}">{{ item.unitName }}</option>
        </select>
    </div>
</div>
