<button type="button" ng-click="openNewPanel()" id="open-form" class="btn btn-success">Tạo bài kiểm tra</button>
<div class="row">
    <div class="col-md-12">
        <table cellpadding="0" cellspacing="0" border="0"
               class="table table-striped table-bordered" id="example">
            <thead>
            <tr>
                <th>Mã bài KTra</th>
                <th>Tên</th>
                <th>Số câu hỏi</th>
                <th>Thời gian</th>
                <th>Publish</th>
                <th>Publish Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd gradeX" ng-repeat="test in testList">
                <td>{{test.code}}</td>
                <td>{{test.name}}</td>
                <td>{{test.numOfQuiz}}</td>
                <td class="center">{{test.timeExpire}}</td>
                <td class="center">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" ng-model="exam.publish" ng-click="onPublish(test.id)">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td class="center">{{test.publishDate}}</td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <!--<a ui-sref="home.content.testQuizListState({testId: test.id,subjectId:subjectId})">-->
                            <a href ng-click="onDetailTestQuiz(test.id)">
                                <i class="fa fa-list"></i></a>
                        </div>
                        <div class="col-md-4">
                            <a href ng-click="onEditTest(test.id)">
                                <i class="fa fa-edit"></i></a>
                        </div>
                        <div class="col-md-4">
                            <a href ng-click="onDeleteTest(test.id)">
                                <i class="fa fa-remove"></i></a>
                        </div>

                    </div>


                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="eduka-panel" ng-show="showPanel">

        <div class="row eduka-panel-header">

            <div class="col-md-4">{{edukaPanel.title}} - Eduka Panel</div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2" style="text-align: right;">
                    <button type="button" ng-click="onExit()"
                            class="btn btn-info btn-sm">X</button>
            </div>
        </div>
        <div class="row" >
            <div class="row" style="margin-top: 0px">
                <div class="col-md-3"></div>
                <div class="col-md-8">
                    <span class="eduka-panel-error-message">{{panel.errMsg}}</span>
                </div>

            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3"><label for="code">Mã</label><span class="eduka-required"><b>*</b></span></div>
                    <div class="col-md-8"><input type="text" ng-model="test.code" id="code" class="form-control" name="year" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3"><label for="name-exam">Tên bài K.Tra</label><span class="eduka-required"><b>*</b></span></div>
                    <div class="col-md-8"><input type="text" ng-model="test.name" id="name-exam" class="form-control" name="name-exam" required=""></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3"><label for="num-of-quiz">Số câu</label><span class="eduka-required"><b>*</b></span></div>
                    <div class="col-md-8"><input type="number" ng-model="test.numOfQuiz" id="num-of-quiz" class="form-control" name="num-of-quiz" required="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3"><label for="timeExpire">T.Gian (phút)</label><span class="eduka-required"><b>*</b></span></div>
                    <div class="col-md-8"><input type="number" ng-model="test.timeExpire" id="timeExpire" class="form-control" name="timeExpire" required="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3"><label for="description">Mô tả</label></div>
                    <div class="col-md-8"><input type="text" ng-model="test.description" id="description" class="form-control" name="description" required="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3"><label for="instruction">Hướng dẫn</label></div>
                    <div class="col-md-8">
                        <textarea id="instruction" name="instruction" class="col-md-12"
                                  ng-model="test.instruction"></textarea>

                    </div>
                </div>

            </div>
        </div>
        <div class="row eduka-panel-footer">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <button type="button" ng-click="onSaveAndExit()"
                        class="btn btn-info btn-sm">Lưu & Thoát</button>
            </div>
            <div class="col-md-2" style="text-align: right;"></div>
        </div>
</div>
<div class="eduka-layout-off" ng-show="showPanel"></div>