<div id="tmpl-quiz-list">
    <div class="row" ng-hide="isInputQuiz">
        <button type="button" ng-click="createNewQuiz()" class="btn btn-primary">Tạo câu hỏi</button>
        <quiz-list-component quiz-list="quizList"
                             on-change-quiz-list="onChangeQuizList"
                             is-reset-paging="isResetPaging"
                             on-edit-row="onEditRow(quizId)"
                             on-delete-row="onDeleteQuiz(quizId)"
                            >
        </quiz-list-component>
    </div>

    <div class="row" ng-show="isInputQuiz">
        <div class="row">
            <input-quiz-component subject-id="subjectId"
                                  quiz-obj="quizObj"
                                  reset-quiz="resetQuiz"
                                  time-on-change-quiz="timeOnChangeQuiz"></input-quiz-component>
        </div>
        <div class="row">
            <br/>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <button type="button" ng-click="onCancelInputQuiz()" class="btn btn-default">Thoát</button>
                <button type="button" ng-click="onSaveQuizAndExit()" class="btn btn-primary">Lưu và Thoát</button>
                <button type="button" ng-click="onSaveQuizAndNext()" ng-hide="isEditState"
                        class="btn btn-primary">Lưu và Nhập tiếp</button>
            </div>
        </div>
    </div>

    <div class="row">
        <success-form-component show-popup="showPopupSuccess"
                                message="successMessage"
                                do-ok="doSuccessFormOk()">
        </success-form-component>

        <confirm-form-component show-popup="showPopupConfirm"
                                message="messageConfirm"
                                do-ok="onConfirmOk(typeConfirm)"
                                do-cancel="onConfirmCancel()">
        </confirm-form-component>
        <loading-spinner-component toggle="loadingToggle"></loading-spinner-component>
    </div>
</div>