/*************************************
 Loading page
 *******************************/
.dis-app{
    z-index: 1001;
    position: fixed;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.5;
    top:0;
    left:0;
}

.wrap-loader{
    margin: auto;
    width: 50%;

}
.loader {
    position: relative;
    top: 180px;
    margin: auto;
    z-index: 1002;

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/********************************
 Ending loading page
 */