<div class="row">
    <div class="col-md-6">
        <textarea class="form-control" rows="3"
                  ng-model="$ctrl.latexData"
                  required="required"
                  id="LatexTxtArea"> </textarea>
    </div>
    <div class="col-md-6" style="padding-right: 35px;">
        <div id="InputMathPreview" style="border:0px solid; width:100%;height: auto;
                                    margin-left:10px;margin-top:5px;
                                    margin-bottom: 20px;
                                    padding: 10px 10px 10px 20px;
                                    border-left: #78909c 10px outset;
                                    background-color: beige;"></div>
        <div id="InputMathBuffer" style="border:0px solid;  width:100%;height: auto;
                                    margin-left:10px;margin-top:5px;
                                    margin-bottom: 20px;
                                    padding: 10px 10px 10px 20px;
                                    border-left: #78909c 10px outset ;
                                    background-color: beige;
										visibility:hidden; position:absolute; top:0;
										left: 0;overflow: auto;"></div>
    </div>
</div>
