<div id="tmpl-exam-info">
    <div class="row" ng-hide="$ctrl.showLoading">
        <div class="errorMsg" ng-show="$ctrl.errorMsg!=''">
            {{$ctrl.errorMsg}}
        </div>
        <div class="row">
            Thông tin đề thi :
        </div>
        <div class="row">
            <div class="col-md-4">Mã file</div>
            <div class="col-md-8">
                {{$ctrl.examObj.examCode}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Tên đề</div>
            <div class="col-md-8">
                {{$ctrl.examObj.examName}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Người nhập đề</div>
            <div class="col-md-8">
                {{$ctrl.examObj.author}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Thời gian</div>
            <div class="col-md-8">
                {{$ctrl.examObj.duration}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Số câu</div>
            <div class="col-md-8">
                {{$ctrl.examObj.numOfQuiz}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Tình trạng duyệt</div>
            <div class="col-md-8">
                {{$ctrl.examObj.published}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Lớp</div>
            <div class="col-md-8">
                {{$ctrl.examObj.classId}} - {{$ctrl.examObj.subjectId}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Sô câu hỏi đã duyệt</div>
            <div class="col-md-8">
                {{$ctrl.examObj.numQuizPublised}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Sô câu hỏi chưa duyệt</div>
            <div class="col-md-8">
                {{$ctrl.examObj.numQuizUnPublised}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Nhóm bài kiểm tra</div>
            <div class="col-md-8">
                {{$ctrl.examObj.tagName}} - {{$ctrl.examObj.tagPublished}}
            </div>
        </div>

    </div>
    <div class="row" style="height: 150px;" ng-show="$ctrl.showLoading">
        <spinner-loading-component is-show="$ctrl.showLoading"></spinner-loading-component>
    </div>

</div>
