<div class="row">
    <div class="col-md-6">
        <div class="x_panel">
            <div class="row">
                Bài thi
                <select ng-model="selectedExamId" ng-change="onChangeSelectExam()"
                        ng-options="item.id as item.name for item in examPapers"
                        class="select2_group form-control"></select>
            </div>
            <div class="row">
                Bài K.tra
                <select ng-model="selectedTestId" ng-change="onChangeSelectTest()"
                        ng-options="item.id as item.name for item in testPapers"
                        class="select2_group form-control"></select>
            </div>
            <div class="row">
                Chuyên đề
                <select ng-model="selectedUnitId" ng-change="onChangeSelectUnit()"
                        ng-options="item.id as item.unitName
                                for item in unitList"
                        class="select2_group form-control"></select>
            </div>
            <div class="row">
                Người nhập đề
                <select ng-model="selectedUserId" ng-change="onChangeSelectUser()"
                        ng-options="item.id as item.name for item in userAccounts"
                        class="select2_group form-control"></select>
            </div>

            <div class="row">
                Ngày nhập đề
                <md-datepicker ng-model="selectedDate" md-placeholder="Enter date"></md-datepicker>
            </div>

            <div class="row">
                <br/>
                <md-radio-group ng-model="quizIsPublished">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <md-radio-button value="true" class="md-primary">Đã duyệt</md-radio-button>
                        </div>
                        <div class="col-md-4">
                            <md-radio-button value="false"> Chưa duyệt </md-radio-button>
                        </div>
                    </div>

                </md-radio-group>
            </div>

            <div class="row">
                <button type="button" class="btn btn-default" ng-click="onClickFilter()" >Tìm kiếm</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thông Tin Tìm Kiếm</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div ng-show="selectedExamId">
                    <exam-info-component exam-id="selectedExamId">
                    </exam-info-component>
                </div>
                <div ng-show="selectedTestId">
                    <test-info-component test-id="selectedTestId">
                    </test-info-component>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <quiz-tickets-component subject-id="subjectId"
                                quiz-list="quizList"
                                on-change-list="timeChangeQuizViewListSize"></quiz-tickets-component>
    </div>
</div>
<div class="row">
    <confirm-form-component show-popup="showPopupConfirmDelQuiz"
                            message="confirmMessage"
                            do-ok="doConfirmOkDelQuiz(msg)"
                            do-cancel="doConfirmCancelDelQuiz()"></confirm-form-component>
    <success-form-component show-popup="showPopupSuccess"
                            message="successMessage"
                            do-ok="doSuccessFormOk()">
    </success-form-component>

    <loading-spinner-component toggle="loadingToggle"></loading-spinner-component>
</div>
