<style type="text/css" scoped>
    .show_wiris{
        display: block;
    }
    .hide_wiris{
        display: none;
    }
</style>

<button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.showWirisDialog()">wiris</button>
<button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.breakLine(this)">x.hàng</button>

<textarea id="{{$ctrl.textId}}" placeholder="{{$ctrl.placeHolder}}"
          class="form-control" rows="3" ng-model="$ctrl.textValue">
</textarea>

<div class="x_panel" ng-class="$ctrl.wirisClass"
     style="z-index: 1001;
     position: fixed;
     top:20%;
     left: 30%;
     width: 565px;">
    <div class="x_title">
        <h2>WIRIS Editor</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <iframe id="iframe_{{$ctrl.textId}}" width="520" height="315" style="border: 0px" ng-src="/admin/wiris"></iframe>
        <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.offWirisDialog()">OK</button>
    </div>
</div>
<div ng-class="$ctrl.wirisClass"
     style="position:fixed;top:0px;left:0px;opacity:0.6;width: 100%;height: 100%;z-index: 1000;background-color: gainsboro"></div>
