<style type="text/css" scoped>
    .show_child_menu{
        display: block!important;
    }
</style>
<div class="menu_section">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/admin/" class="site_title"><i class="fa fa-paw"></i> <span>Eduka.io</span></a>
    </div>
    <div class="clearfix"></div>

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <br/>
        <ul class="nav side-menu">
            <li ng-if="user.permit.math==true" ng-class="activeMenuMath">
                <a ng-click="onExpand('math')"><i class="fa fa-home"></i>Toán<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" ng-class="showChildMenuMath">
                    <li><a ui-sref="{{menuPractMath}}">Câu Hỏi Ôn Tập</a></li>
                    <li><a ui-sref="home.content.examListState({subjectId: 1})">Đề Thi Tốt Nghiệp</a></li>
                    <li><a ui-sref="home.content.chapterListState({subjectId: 1})">Danh Sách Chuyên Đề</a></li>
                    <li><a ui-sref="home.content.testListState({subjectId: 1})">Ôn Tập Kiểm Tra</a></li>
                </ul>
            </li>
            <li ng-if="user.permit.physic==true" ng-class="activeMenuPhysic">
                <a ng-click="onExpand('physic')"><i class="fa fa-home"></i>Lý<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" ng-class="showChildMenuPhysic">
                    <li><a ui-sref="home.content.practQuizListState({subjectId:2})">Câu Hỏi Ôn Tập</a></li>
                    <li><a ui-sref="home.content.examListState({subjectId: 2})">Đề Thi Tốt Nghiệp</a></li>
                    <li><a ui-sref="home.content.chapterListState({subjectId: 2})">Danh Sách Chuyên Đề</a></li>
                    <li><a ui-sref="home.content.testListState({subjectId: 2})">Ôn Tập Kiểm Tra</a></li>
                </ul>
            </li>

            <li ng-if="user.permit.chemistry==true" ng-class="activeMenuChemistry">
                <a ng-click="onExpand('chemistry')"><i class="fa fa-home"></i>Hoá<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" ng-class="showChildMenuChemistry">
                    <li><a ui-sref="home.content.practQuizListState({subjectId:3})">Câu Hỏi Ôn Tập</a></li>
                    <li><a ui-sref="home.content.examListState({subjectId: 3})">Đề Thi Tốt Nghiệp</a></li>
                    <li><a ui-sref="home.content.chapterListState({subjectId: 3})">Danh Sách Chuyên Đề</a></li>
                    <li><a ui-sref="home.content.testListState({subjectId: 3})">Ôn Tập Kiểm Tra</a></li>
                </ul>
            </li>

            <li ng-if="user.permit.english==true" ng-class="activeMenuEnglish">
                <a ng-click="onExpand('english')"><i class="fa fa-home"></i>Tiếng Anh<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" ng-class="showChildMenuEnglish">
                    <li><a ui-sref="home.content.practQuizListState({subjectId:4})">Câu Hỏi Ôn Tập</a></li>
                    <li><a ui-sref="home.content.examListState({subjectId: 4})">Đề Thi Tốt Nghiệp</a></li>
                    <li><a ui-sref="home.content.chapterListState({subjectId: 4})">Danh Sách Chuyên Đề</a></li>
                    <li><a ui-sref="home.content.testListState({subjectId: 4})">Ôn Tập Kiểm Tra</a></li>
                </ul>
            </li>

            <li ng-if="user.permit.all==true" ng-class="activeMenuManage">
                <a ng-click="onExpand('manage')"><i class="fa fa-home"></i> Quản Lý <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" ng-class="showChildMenuManage">
                    <li><a ui-sref="home.content.volunteerState()">Giáo Viên - Cộng Tác Viên</a></li>
                    <li><a ui-sref="home.content.reviewQuizState({subjectId: 1})" > Duyệt Câu Hỏi - Toán Học</a></li>
                    <li><a ui-sref="home.content.reviewQuizState({subjectId: 2})" > Duyệt Câu Hỏi - Vật Lý</a></li>
                    <li><a ui-sref="home.content.managePublishingState()" >Xuất bản câu hỏi</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- sidebar menu -->
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->

</div>
<div class="menu_section">
    <h3>Live On</h3>
    <ul class="nav side-menu">
        <li><a href="javascript:void(0)">
            <i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
    </ul>
</div>
