<style type="text/css" scoped>
    .active-child{
        display: block!important;
    }
</style>
<div class="menu_section">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/admin/" class="site_title"><i class="fa fa-paw"></i> <span>Eduka.io</span></a>
    </div>
    <div class="clearfix"></div>

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <br/>
        <ul class="nav side-menu">
            <li ng-repeat="router in routers" ng-class="router.activeGroup">
                <a ng-click="onClickActiveMenu(router)">
                    <i class="fa fa-home"></i>{{router.groupName}}<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" ng-class="router.activeChild">
                    <li ng-repeat="state in router.states">
                        <a ui-sref="{{state.stateName}}">{{state.title}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- sidebar menu -->
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->

</div>
<div class="menu_section">
    <h3>Live On</h3>
    <ul class="nav side-menu">
        <li><a href="javascript:void(0)">
            <i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
    </ul>
</div>
