#menu-topside{
    height: 42px;
}
#menu-topside .nav{
    height: 42px;
}

#menu-topside ul li{
    margin-top: -7px;
    height: 46px;
}

#menu-topside li a{
    height: 46px;
}

#menu-topside i{
    margin-top: -7px !important;

}