#spinner-loading{
    position: absolute;
    top:0px;
    width: 100%;
    height: 120px;
    padding: 0;
    font-size: 100%;
    background: #FFFFFF;
    text-align: center;
    opacity: 1;
    z-index: 1000;
    /*margin-left: 20px;*/
    margin-top: 10px;
}

#spinner-loading h1 {
    margin: 0;
    padding: 0;
    font-family: ‘Arial Narrow’, sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    color: #a3e1f0;
}

#spinner-loading span {
    position: relative;
    top: 0.63em;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transform: rotateX(-90deg);
}

#spinner-loading .let1 {
    animation: drop 1.0s ease-in-out infinite;
    animation-delay: 1.1s;
}

#spinner-loading .let2 {
    animation: drop 1.0s ease-in-out infinite;
    animation-delay: 1.2s;
}

#spinner-loading .let3 {
    animation: drop 1.0s ease-in-out infinite;
    animation-delay: 1.3s;
}

#spinner-loading .let4 {
    animation: drop 1.0s ease-in-out infinite;
    animation-delay: 1.4s;

}

#spinner-loading .let5 {
    animation: drop 1.0s ease-in-out infinite;
    animation-delay: 1.5s;
}

#spinner-loading .let6 {
    animation: drop 1.0s ease-in-out infinite;
    animation-delay: 1.6s;
}

#spinner-loading .let7 {
    animation: drop 1.0s ease-in-out infinite;
    animation-delay: 1.7s;
}

#spinner-loading .let8 {
    animation: drop 1.0s ease-in-out infinite;
    animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}
