<div class="row" ng-show="$ctrl.isShow">
    <div id="spinner-loading">
        <h1>
            <span class="let1">e</span>
            <span class="let2">d</span>
            <span class="let3">u</span>
            <span class="let4">k</span>
            <span class="let5">a</span>
            <span class="let6">.</span>
            <span class="let7">i</span>
            <span class="let8">o</span>
        </h1>
    </div>
</div>
