<!-- <div ng-controller="examListController">
    <ul>
        <li ng-repeat="exam in examList">
            <a href="#">{{exam.codeExam}} - {{exam.examName}}</a>
            <button ng-click="editQuiz(exam)">Sửa câu hỏi</button>
        </li>
    </ul>
</div>
 -->
 <loading></loading>
<div class="row">
    <div class="col-md-12">
        <div class="content-box-header">
            <div class="panel-title">Danh sách đề thi</div>
        </div>
        <div class="content-box-large box-with-header">
            <div class="panel-heading">
                <button ng-click="newExam()" class="btn btn-default navbar-btn" type="button">Tạo
                    đề thi</button>
            </div>
            <div class="panel-body">
                <table cellpadding="0" cellspacing="0" border="0"
                    class="table table-striped table-bordered" id="example">
                    <thead>
                        <tr>
                            <th>Mã đề</th>
                            <th>Tên đề</th>
                            <th>Số câu hỏi</th>
                            <th>Thời gian</th>
                            <th>Năm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="exam in examList" ng-click="editQuiz(exam)">
                            <td>{{exam.codeExam}}</td>
                            <td>{{exam.examName}}</td>
                            <td>{{exam.numOfQuiz}}</td>
                            <td class="center">{{exam.timeExpire}}</td>
                            <td class="center">{{exam.yearExam}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
