<div class="row">
	<div class="col-md-12">
		<div class="content-box-header">
			<div class="panel-title">Đề thi mới</div>
		</div>
		<div class="content-box-large box-with-header">
			<div class="col-md-8">
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-md-2 control-label">Dành cho </label>
							<div class="col-md-10">
								<label class="radio radio-inline"> 
								    <input type="radio" ng-model="examObj.classId" value="12" class="radio-cus"/> Lớp 12
								</label> 
								<label class="radio radio-inline"> 
								    <input type="radio" ng-model="examObj.classId" value="11" class="radio-cus"/> Lớp 11
								</label> 
								<label class="radio radio-inline"> 
								    <input type="radio" ng-model="examObj.classId" value="10" class="radio-cus"/> Lớp 10
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Môn</label>
							<div class="col-md-10">
                                <label class="radio radio-inline"> 
                                    <input type="radio" name="subRadio" ng-model="examObj.subjectId" value="1" class="radio-cus" checked="true"/> Toán
                                </label> 
                                <label class="radio radio-inline"> 
                                    <input type="radio" name="subRadio" ng-model="examObj.subjectId" value="2" class="radio-cus"/> Lý
                                </label> 
                                <label class="radio radio-inline"> 
                                    <input type="radio" name="subRadio" ng-model="examObj.subjectId" value="3" class="radio-cus"/> Hoá
                                </label>
                                <label class="radio radio-inline"> 
                                    <input type="radio" name="subRadio" ng-model="examObj.subjectId" value="4" class="radio-cus"/> Anh Văn
                                </label>
                                <label class="radio radio-inline"> 
                                    <input type="radio" name="subRadio" ng-model="examObj.subjectId" value="5" class="radio-cus"/> Sinh Học
                                </label>
                            </div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Đề Số</label>
							<div class="col-sm-10">
								<input name="paperCode" ng-model="examObj.codeExam" class="form-control" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Tên Đề</label>
							<div class="col-sm-10">
								<input  class="form-control" type="text" name="paperName" ng-model="examObj.examName"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Thời gian làm bài</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" ng-model="examObj.expireTime"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Tag</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" ng-model="examObj.description"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="button" ng-click="saveExam()" class="btn btn-default">Lưu Đề</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>