.wrap-content{
    position:relative;
}
.inputEquation{
    position: absolute;
    width: 850px;
    height: 600px;
    overflow:scroll;
    z-index : 2;
    right:0px;
    top:0px;
}

myscript-math-web {
    height: calc(600px - 70px);
    width: 800px;
}

.inputQuiz{

    position: relative;
    z-index : 1;

}

.imgQuestion{
    width : 400px;
    height : 220px;
}

