body{
    margin:0 auto;
    /*width:1000px;*/
}
h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}


.wrap-content{
    width: 1000px;
    margin: 0 auto;
}
.row{
    /*margin-top:15px;*/
}
.panel-heading-left{
}
.panel-heading-right{
    position: relative;
    float:right;
    top: -15px;
    right: 50px;
}

#cke_answerATxtArea .cke_contents{
    height:80px!important;
}
#cke_answerBTxtArea .cke_contents{
    height:80px!important;
}
#cke_answerCTxtArea .cke_contents{
    height:80px!important;
}
#cke_answerDTxtArea .cke_contents{
    height:80px!important;
}

.radio-answer{
    padding-top: 4px!important;
    margin-left: 50px;
}
.radio-answer input[radio]{
    margin-top: 2px;
}

/***********************************************
        chapter module
***************************/


/**************************************
    quiz - list - table

*/

.quiz-list-table td:nth-child(1) {
    width: 40px;
}
.quiz-list-table td:nth-child(2) {
    width: 40px;
}
.quiz-list-table td:nth-child(3) {
    width: 600px;
}
.quiz-list-table td:nth-child(4) {
    width: 150px;
}
.quiz-list-table td:nth-child(5) {
    width: 100px;
}



