

<div class="x_content" type="background-color: white;">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Mã</th>
                <th>Câu hỏi</th>
                <th>Chuyên đề</th>
                <th>Người nhập</th>
                <th>Stt</th>
                <th>Ngày nhập</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="quiz in $ctrl.quizPaging">
                <td><a ui-sref="home.content.detailQuiz({quizId: quiz.quizId})">{{quiz.quizId}}</a></td>
                <td><a ui-sref="home.content.detailQuiz({quizId: quiz.quizId})">{{quiz.question}}</a></td>
                <td>{{quiz.unitName}}</td>
                <td>{{quiz.author}}</td>
                <th>{{quiz.noOfQuiz}}</th>
                <td>{{quiz.updateDate}}</td>
                <td><i class="fa fa-edit" ng-click="$ctrl.editRow(quiz.quizId)"></i></td>
                <td><i class="fa fa-remove" ng-click="$ctrl.deleteRow(quiz.quizId)"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="dataTables_info" id="datatable-buttons_info" role="status" aria-live="polite">
            Showing {{(($ctrl.currPage*$ctrl.rowPerPage)- $ctrl.rowPerPage)+1}}
            to {{$ctrl.currPage*$ctrl.rowPerPage < $ctrl.quizList.length?$ctrl.currPage*$ctrl.rowPerPage:$ctrl.quizList.length}}
            of {{$ctrl.quizList.length}} entries
        </div>
        <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
            <ul class="pagination">
                <li class="paginate_button previous" id="datatable_previous">
                    <a aria-controls="datatable" data-dt-idx="0" tabindex="0"
                       ng-click="$ctrl.onPagingPrevious()">Previous</a></li>
                <li class="paginate_button" ng-repeat="n in $ctrl.numPagingBar">
                    <a aria-controls="datatable" data-dt-idx="1" tabindex="0"
                       ng-click="$ctrl.onPaging(n)">{{n}}</a></li>
                <li class="paginate_button next" id="datatable-fixed-header_next">
                    <a aria-controls="datatable-fixed-header" data-dt-idx="7" tabindex="0"
                       ng-click="$ctrl.onPagingNext()">Next</a></li>
            </ul>
        </div>
    </div>
</div>