<html>

<head>
    <style>
        <!--table
        {mso-displayed-decimal-separator:"\.";
            mso-displayed-thousand-separator:"\,";}
        @page
        {margin:1.0in .75in 1.0in .75in;
            mso-header-margin:.5in;
            mso-footer-margin:.5in;}
        .style0
        {mso-number-format:General;
            text-align:general;
            vertical-align:bottom;
            white-space:nowrap;
            mso-rotate:0;
            mso-background-source:auto;
            mso-pattern:auto;
            color:black;
            font-size:12.0pt;
            font-weight:400;
            font-style:normal;
            text-decoration:none;
            font-family:Calibri, sans-serif;
            mso-font-charset:0;
            border:none;
            mso-protection:locked visible;
            mso-style-name:Normal;
            mso-style-id:0;}
        td
        {mso-style-parent:style0;
            padding-top:1px;
            padding-right:1px;
            padding-left:1px;
            mso-ignore:padding;
            color:black;
            font-size:12.0pt;
            font-weight:400;
            font-style:normal;
            text-decoration:none;
            font-family:Calibri, sans-serif;
            mso-font-charset:0;
            mso-number-format:General;
            text-align:general;
            vertical-align:bottom;
            mso-background-source:auto;
            mso-pattern:auto;
            mso-protection:locked visible;
            white-space:nowrap;
            mso-rotate:0;}
        .xl65
        {mso-style-parent:style0;
            color:#B7B7B7;
            font-size:10.0pt;
            font-weight:700;
            font-family:Arial;
            mso-generic-font-family:auto;
            mso-font-charset:0;}
        .xl66
        {mso-style-parent:style0;
            color:#CCCCCC;
            font-size:10.0pt;
            font-weight:700;
            font-family:Arial;
            mso-generic-font-family:auto;
            mso-font-charset:0;}
        .xl67
        {mso-style-parent:style0;
            font-size:10.0pt;
            font-family:Arial;
            mso-generic-font-family:auto;
            mso-font-charset:0;}
        .xl68
        {mso-style-parent:style0;
            font-size:10.0pt;
            font-family:Arial;
            mso-generic-font-family:auto;
            mso-font-charset:0;
            mso-number-format:"General Date";}
        -->
    </style>


    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <style>
        table{
            border:1px solid gray;
        }
        td{
            border:1px solid gray;
        }
    </style>
</head>

<body >
    <table>
        <thead>
            <th>Mã câu hỏi</th>
            <th>Chuyên đề</th>
            <th>Câu hỏi</th>
            <th>Lời giải chi tiết</th>
            <th>Phương pháp</th>
            <th>Đáp Án A</th>
            <th>Đáp Án B</th>
            <th>Đáp Án C</th>
            <th>Đáp Án D</th>
            <th>Đáp Án Đúng</th>
        </thead>
        <tr th:each="quiz : ${quizList}">
            <td th:text="${quiz.quizId}"></td>
            <td th:text="${quiz.unitName}"></td>
            <td th:utext="${quiz.question}"></td>
            <td th:utext="${quiz.detailAnswer}"></td>
            <td th:utext="${quiz.solution}"></td>
            <td th:utext="${quiz.answerA}"></td>
            <td th:utext="${quiz.answerB}"></td>
            <td th:utext="${quiz.answerC}"></td>
            <td th:utext="${quiz.answerD}"></td>
            <td th:utext="${quiz.correctAnswer}"></td>
        </tr>
    </table>

</body>
</html>