<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0,
	initial-scale=1.0, user-scalable=no"/>
    <title>myscript-math-web demo</title>

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"
            src="../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" th:src="@{/myscript_components/webcomponentsjs/webcomponents-lite.js}"
            src="../static/myscript_components/webcomponentsjs/webcomponents-lite.js">
    </script>
    <link rel="import" th:href="@{/js/myscript-math-web/myscript-math-web.html}"
          href="../static/js/myscript-math-web/myscript-math-web.html"/>

</head>
<style>
    html, body {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    myscript-math-web {
        height: calc(400px - 70px);
         width: 500px;
    }
</style>
<body>

</body>
</html>