.row-quiz-ticket{
    width: 500px;
    margin: 15px 0px 0px 30px !important;
}

.quiz-ticket{
    position: inherit;

    padding: 1px 0 10px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    border:3px solid #ADCBFF;
    background:rgba(227,162,11,0.2);
    -webkit-box-shadow: #B3B3B3 7px 7px 7px;
    -moz-box-shadow: #B3B3B3 7px 7px 7px;
    box-shadow: #B3B3B3 7px 7px 7px;
}

.quiz-ticket .row{
    border-bottom: solid 1px oldlace;
    margin: 5px 0 5px 0;
}
.quiz-ticket-title{
    font-size: medium;
    font-stretch: ultra-condensed;
    margin-top: 10px;
}

.quiz-ticket-option{
    text-align: right;
    margin-top: -5px;
}
.quiz-ticket-correct-anwser{
    font-weight: bold;
    background-color: brown;
    color: white;
}

