<div class="row">
    <div class="row" ng-hide="true">

        <div id="contentQuizDiv">
            <div class="row">
                <div class="col-md-4">Câu số</div>
                <div class="col-md-8">{{$ctrl.quiz.quizId}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Mã câu hỏi</div> <div class="col-md-8">{{$ctrl.quiz.quizId }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Câu hỏi</div> <div class="col-md-8">{{$ctrl.quiz.question}}</div>
            </div>
            <div class="row" ng-show="$ctrl.showQuestImg">
                <div class="col-md-4"></div> <div class="col-md-8">
                    <img ng-src="{{$ctrl.questImg}}">
                </div>
            </div>
            <div class="row" ng-hide="true">
                <div class="col-md-4">Độ khó</div> <div class="col-md-8">{{$ctrl.quiz.level}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Đáp án A</div> <div class="col-md-8">{{$ctrl.quiz.answerA}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Đáp án B</div> <div class="col-md-8">{{$ctrl.quiz.answerB}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Đáp án C</div> <div class="col-md-8">{{$ctrl.quiz.answerC}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Đáp án D</div> <div class="col-md-8">{{$ctrl.quiz.answerD}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Đáp án đúng</div> <div class="col-md-8">{{$ctrl.quiz.correctAnswer}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Phương pháp</div> <div class="col-md-8">{{$ctrl.quiz.solution}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Chuyên đề</div> <div class="col-md-8">{{$ctrl.quiz.unitName}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Lời giải chi tiết</div> <div class="col-md-8">{{$ctrl.quiz.detailAnswer}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="mathPreview" style="border:0px solid; padding: 3px;"></div>
        <div id="mathBuffer" style="visibility:hidden; border:0px solid; padding: 3px; "></div>
    </div>
</div>




