<div class="row" id="quiz-multi-view">

    <div class="row" ng-hide="$ctrl.isEdit">
        <div class="x_panel">
            <div class="x_title">
                <h2>Câu thứ {{$ctrl.fromIndex+1}} đến {{$ctrl.toIndex}} /{{$ctrl.listSize}}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button type="button" ng-click="$ctrl.onPrePage()"
                                class="btn btn-info btn-sm"> << Câu trước</button></li>
                        <li><button type="button" ng-click="$ctrl.onNextPage()"
                                class="btn btn-info btn-sm">Câu kế tiếp >> </button></li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="row">
                    <div id="mathPreview" style="border:0px solid; padding: 3px;"></div>
                    <div id="mathBuffer" style="visibility:hidden; border:0px solid; padding: 3px; "></div>
                </div>
            </div>

        </div>

    </div>

    <div class="row" ng-hide="true">
        <div id="contentQuizDiv" style="background-color: #ADABAB">
                <div ticket ng-repeat="(idQuiz, quiz) in $ctrl.indexQuizList" class="row-quiz-ticket">
                    <div class="quiz-ticket">
                        <div class="row">
                            <div class="col-md-3 quiz-ticket-title">
                                Mã : {{quiz.id || quiz.quizId}}
                            </div>
                            <div class="col-md-9 quiz-ticket-option">
                                <button type="button" quiz-id="{{quiz.id || quiz.quizId}}" ng-hide="quiz.statusReport" class="btn btn-default btn-report-quiz">Báo Lỗi</button>
                                <button type="button" quiz-id="{{quiz.id || quiz.quizId}}" ng-show="quiz.statusReport" class="btn btn-default btn-report-quiz">Đã sửa</button>
                                <button type="button" quiz-id="{{quiz.id || quiz.quizId}}" class="btn btn-default btn-edit-quiz">Sửa</button>
                                <button type="button" quiz-id="{{quiz.id || quiz.quizId}}" class="btn btn-default btn-publish-quiz">Duyệt</button>
                                <button type="button" quiz-id="{{quiz.id || quiz.quizId}}" class="btn btn-default btn-delete-quiz">Xoá</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Câu hỏi :
                            </div>
                            <div class="col-md-10">
                                {{quiz.question}}
                            </div>

                        </div>
                        <div class="row" ng-show="showQuestImg">
                            <img ng-src="{{questImg}}">
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                A :
                            </div>
                            <div class="col-md-10"
                                 ng-class="quiz.correctAnswer=='A'?'quiz-ticket-correct-anwser':''">
                                {{quiz.answerA}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                B :
                            </div>
                            <div class="col-md-10"
                                 ng-class="quiz.correctAnswer=='B'?'quiz-ticket-correct-anwser':''">
                                {{quiz.answerB}}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                C :
                            </div>
                            <div class="col-md-10"
                                 ng-class="quiz.correctAnswer=='C'?'quiz-ticket-correct-anwser':''">
                                {{quiz.answerC}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                D :
                            </div>
                            <div class="col-md-10"
                                 ng-class="quiz.correctAnswer=='D'?'quiz-ticket-correct-anwser':''">
                                {{quiz.answerD}}
                            </div>
                        </div>
                        <div class="row">
                            Chuyên đề : {{quiz.unitName}}
                        </div>
                        <div class="row">
                            Người nhập : {{quiz.author}}
                        </div>
                        <div class="row">
                            Ngày nhập : {{quiz.updateDate}}
                        </div>
                    </div>
                </div>

        </div>
    </div>

    <!--EDIT FORM-->

    <div class="row" ng-show="$ctrl.isEdit">
        <div class="x_panel">
            <div class="x_title">
                <h2></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button ng-click="$ctrl.onDoCancelEdit()"
                                type="button" class="btn btn-default btn-sm">Thoát</button></li>
                    <li><button ng-click="$ctrl.onDoUpdateQuiz()"
                                type="button" class="btn btn-primary btn-sm">Cập nhật</button></li>
                    <li></li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <input-quiz-component subject-id="$ctrl.subjectId"
                                      quiz-obj="$ctrl.quizObj"></input-quiz-component>
            </div>
        </div>
    </div>

</div>
<loading-spinner-component toggle="$ctrl.loadingToggle"></loading-spinner-component>

<confirm-form-component show-popup="$ctrl.showPopupConfirm"
                        message="$ctrl.confirmMessage"
                        do-ok="$ctrl.doOKConfirm($ctrl.typeConfirm)"
                        do-cancel="$ctrl.doCancel()">
</confirm-form-component>
<success-form-component show-popup="$ctrl.showPopupSuccess"
                        message="$ctrl.successMessage"
                        do-ok="$ctrl.doSuccessFormOk()">
</success-form-component>





