<div id="tmpl-test-info">
    <div class="row" ng-hide="$ctrl.showLoading">
        <div class="errorMsg" ng-show="$ctrl.errorMsg!=''">
            {{$ctrl.errorMsg}}
        </div>
        <div class="row">
            Bài kiểm tra :
        </div>
        <div class="row">
            <div class="col-md-4">Mã file</div>
            <div class="col-md-8">
                {{$ctrl.testObj.testCode}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Tên đề</div>
            <div class="col-md-8">
                {{$ctrl.testObj.testName}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Người nhập đề</div>
            <div class="col-md-8">
                {{$ctrl.testObj.author}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Thời gian</div>
            <div class="col-md-8">
                {{$ctrl.testObj.duration}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Tình trạng duyệt</div>
            <div class="col-md-8">
                {{$ctrl.testObj.published}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Lớp</div>
            <div class="col-md-8">
                {{$ctrl.testObj.classId}} - {{$ctrl.testObj.subjectId}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Sô câu hỏi đã duyệt</div>
            <div class="col-md-8">
                {{$ctrl.testObj.numQuizPublised}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Sô câu hỏi chưa duyệt</div>
            <div class="col-md-8">
                {{$ctrl.testObj.numQuizUnPublised}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Nhóm bài kiểm tra</div>
            <div class="col-md-8">
                {{$ctrl.testObj.tagName}} - {{$ctrl.testObj.tagPublished}}
            </div>
        </div>

    </div>
    <div class="row" style="height: 150px;" ng-show="$ctrl.showLoading">
        <spinner-loading-component is-show="$ctrl.showLoading"></spinner-loading-component>
    </div>

</div>
