<div>
    <div class="row">
        <div class="col-md-12">
            <quiz-tickets-component subject-id="subjectId"
                                    quiz-list="quizList"
                                    on-change-list="timeChangeQuizViewListSize"></quiz-tickets-component>
        </div>
    </div>
</div>