<div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Danh sách câu hỏi </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Câu hỏi</th>
                        <th>Chuyên đề</th>
                        <th>Người nhập</th>
                        <th>Ngày nhập</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="quiz in quizList">
                        <th>{{quiz.quizId}}</th>
                        <td>{{quiz.question}}</td>
                        <td>{{quiz.unitName}}</td>
                        <td>{{quiz.userName}}</td>
                        <td>{{quiz.updateDate}}</td>
                        <td><a href="#/list"><i class="fa fa-list"></i></a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
