#tmpl-input-quiz .row{
    margin: 10px 10px 10px 10px;
}
#tmpl-input-quiz .level-radio{
    margin-top: -10px !important;
    margin-left: -50px;
}

.quest-upload-container{
    margin-left: 20px;
    padding:20px 0px 40px 0px;
}
.quest-upload-btn{
    position: absolute;
    /*background-color: red;*/
    width: 300px;
    padding:0px 0px 5px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
}

.quest-upload-btn .upload-btn{
    opacity: 0;
    z-index: 2;
    position:absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 35px;
}
.quest-upload-btn .fake-upload-btn{
    z-index: 1;
    position:absolute;
    top:0px;
    left: 0px;
}

.quest-upload-container .quest-upload-action{
    margin-top: 50px;
}

.quest-upload-container .img-responsive{
    width: 300px;
    overflow: hidden;
}