<div class="col-md-12" id="tmpl-input-quiz">
    <div class="row">
        <div class="col-md-12">
            <chapter-unit-selecter-component subject-id="$ctrl.subjectId" unit-id="$ctrl.quizObj.unitId" on-unit-id="$ctrl.quizObj.unitId">
            </chapter-unit-selecter-component>
        </div>
    </div>

    <!-- LEVEL QUIZ -->
    <div class="row">
        <div class="col-md-2 level-label">
            <label class="control-label">Mức độ</label>
        </div>
        <div class="col-md-2 level-radio">
            <label class="radio radio-inline">
                <input ng-if="$ctrl.quizObj.level == 1" type="radio" name="radioOptionLevel" value="1" ng-value="$ctrl.quizObj.level" ng-model="$ctrl.quizObj.level"/>
                <input ng-if="$ctrl.quizObj.level != 1" type="radio" name="radioOptionLevel" value="1" ng-model="$ctrl.quizObj.level"/> Nhận biết
            </label>
        </div>
        <div class="col-md-2 level-radio">
            <label class="radio radio-inline">
                <input ng-if="$ctrl.quizObj.level == 2" type="radio"  name="radioOptionLevel" value="2" ng-value="$ctrl.quizObj.level" ng-model="$ctrl.quizObj.level" />
                <input ng-if="$ctrl.quizObj.level != 2" type="radio"  name="radioOptionLevel" value="2" ng-model="$ctrl.quizObj.level" />
                Thông hiểu
            </label>
        </div>
        <div class="col-md-2 level-radio">
            <label class="radio radio-inline">
                <input ng-if="$ctrl.quizObj.level == 3" type="radio"  name="radioOptionLevel" value="3" ng-value="$ctrl.quizObj.level"  ng-model="$ctrl.quizObj.level" />
                <input ng-if="$ctrl.quizObj.level != 3" type="radio"  name="radioOptionLevel" value="3" ng-model="$ctrl.quizObj.level" />
                Vận dụng
            </label>
        </div>
        <div class="col-md-2 level-radio">
            <label class="radio radio-inline">
                <input ng-if="$ctrl.quizObj.level == 4" type="radio"  name="radioOptionLevel" ng-value="$ctrl.quizObj.level"  value="4" ng-model="$ctrl.quizObj.level" />
                <input ng-if="$ctrl.quizObj.level != 4" type="radio"  name="radioOptionLevel"  value="4" ng-model="$ctrl.quizObj.level" />
                Vận dụng cao
            </label>
        </div>
    </div>


    <!-- QUESTION ROW -->
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Câu hỏi</label>
            <textarea class="form-control" rows="3"
                      ng-model="$ctrl.quizObj.question"
                      required="required"
                      id="questionTxtArea">
                            </textarea>
        </div>
        <div class="col-md-4">
            <label class="control-label">Xem trước</label>
            <div id="questionMathPreview" style="border:1px solid; padding: 3px; width:100%;height: 250px; margin-top:5px"></div>
            <div id="questionMathBuffer" style="border:1px solid; padding: 3px; width:100%;height: 250px; margin-top:5px;
                                    visibility:hidden; position:absolute; top:0; left: 0;overflow: auto;"></div>
        </div>
    </div>

    <!-- IMAGE ROW -->
    <div class="row">
        <div class="quest-upload-container">
            <div class="col-md-6">
                    <div class="quest-upload-btn">
                        <input type="file"
                               fileinput="file" filepreview="$ctrl.imgQuest" file-model="$ctrl.quizObj.imgQuestFile"
                               class="upload-btn" name="imgQuest" id="imgQuest"/>
                        <span class="fake-upload-btn">
                            <i class="fa fa-cloud-upload"></i> <label class="control-label">{{$ctrl.quizObj.imgQuestFile.name || 'Upload Hình ảnh'}} </label>
                        </span>
                    </div>
                    <div class="quest-upload-action" ng-show="$ctrl.imgQuest || $ctrl.questImgUrl">
                        <button class="upload-file-button"
                                ng-click="$ctrl.removeImgQuest()">Xoá upload hình ảnh</button>
                    </div>
            </div>
            <div class="col-md-6">
                <div >
                    <img ng-src="{{$ctrl.imgQuest || $ctrl.questImgUrl}}"  ng-show="$ctrl.imgQuest || $ctrl.questImgUrl" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <!-- ANSWER A -->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label"> Đáp án A</label>
            <textarea id="answerATxtArea" class="form-control" ng-model="$ctrl.quizObj.answerA"  rows="3"></textarea>
            <div id="answerAPreview" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px"></div>
            <div id="answerABuffer" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px;
                                    visibility:hidden; position:absolute; top:0; left: 0; overflow: auto;"></div>
        </div>
        <!-- ANSWER B -->
        <div class="col-md-3">
            <label class="control-label"> Đáp án B</label>

            <textarea id="answerBTxtArea" class="form-control" ng-model="$ctrl.quizObj.answerB" rows="3"></textarea>
            <div id="answerBPreview" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px"></div>
            <div id="answerBBuffer" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px;
                                    visibility:hidden; position:absolute; top:0; left: 0; overflow: auto;"></div>
        </div>
        <div class="col-md-3">
            <label class="control-label"> Đáp án C</label>

            <textarea id="answerCTxtArea" class="form-control" rows="3" ng-model="$ctrl.quizObj.answerC"></textarea>
            <div id="answerCPreview" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px"></div>
            <div id="answerCBuffer" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px;
                                    visibility:hidden; position:absolute; top:0; left: 0; overflow: auto;"></div>
        </div>
        <div class="col-md-3">
            <label class="control-label" > Đáp án D</label>

            <textarea id="answerDTxtArea" class="form-control" rows="3" ng-model="$ctrl.quizObj.answerD"></textarea>
            <div id="answerDPreview" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px"></div>
            <div id="answerDBuffer" style="border:1px solid; padding: 3px; width:100%;height: 80px; margin-top:5px;
                                    visibility:hidden; position:absolute; top:0; left: 0; overflow: auto;"></div>
        </div>
    </div>

    <!-- CORRECT ANSWER QUIZ -->
    <!--<div class="row">
        <div class="col-md-2">
            <label class="control-label">Đáp án đúng</label>
        </div>
        <div class="col-md-10">
            <label class="radio radio-inline">

                <label class="radio radio-inline radio-answer">
                    <input type="radio" id="radioA" name="radioOptionAnswer" value="A"
                            ng-model="$ctrl.quizObj.chkAnswer"/>A Đúng
                </label>
            </label>
            <label class="radio radio-inline">
                <label class="radio radio-inline radio-answer">
                    <input type="radio" id="radioB" name="radioOptionAnswer" value="B"
                           ng-model="$ctrl.quizObj.chkAnswer" />B Đúng
                </label>
            </label>
            <label class="radio radio-inline">
                <label class="radio radio-inline radio-answer">
                    <input type="radio" id="radioC" name="radioOptionAnswer" value="C"
                           ng-model="$ctrl.quizObj.chkAnswer" />C Đúng
                </label>
            </label>
            <label class="radio radio-inline">
                <label class="radio radio-inline radio-answer">
                    <input type="radio" id="radioD" name="radioOptionAnswer" value="D"
                           ng-model="$ctrl.quizObj.chkAnswer" />D Đúng
                </label>
            </label>

        </div>
    </div>-->
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Đáp án đúng</label>
            <select class="form-control" name="correctAnswer" ng-model="$ctrl.quizObj.correctAnswer">
                <option value="A">Đáp án A</option>
                <option value="B">Đáp án B</option>
                <option value="C">Đáp án C</option>
                <option value="D">Đáp án D</option>
            </select>
        </div>

    </div>

    <!--<div class="row">
        <div class="col-md-8">
            <label class="control-label"> Phương pháp</label>
            <textarea class="form-control" type="text" ng-model="quizObj.solution"></textarea>
        </div>
    </div>
-->
    <div class="row">
        <div class="col-md-6">
            <label class="control-label"> Lời giản chi tiết</label>
            <textarea id="detailAnswerTxtArea" class="form-control" rows="3" ng-model="quizObj.detailAnswer"></textarea>
        </div>
        <div class="col-md-4">
            <label class="control-label"> Xem trước</label>
            <div id="detailAnswerPreview" style="border:1px solid; padding: 3px; width:100%;height: 120px; margin-top:5px"></div>
            <div id="detailAnswerBuffer" style="border:1px solid; padding: 3px; width:100%;height: 120px; margin-top:5px;
										visibility:hidden; position:absolute; top:0; left: 0; overflow: auto;"></div>
        </div>
    </div>

</div>
