<div id="tmpl-exam-quiz-list">
    <div class="row" >
        <div class="row x_title">
            <div class="col-md-10 header">
                    <div class="row" >
                        <a ng-click="onClickNamePaper()">
                        <img src="images/back_icon.png" style="width: 25px"/> </a> {{namePaper}}
                    </div>
            </div>
            <div class="col-md-2">
                <button type="button" ng-hide="isInputQuiz"
                        ng-click="onCreateQuiz()" class="btn btn-primary">Thêm câu hỏi</button>
            </div>
        </div>
        <div class="row" ng-hide="isInputQuiz">
            <quiz-list-component quiz-list="quizList"
                                 is-reset-paging="isResetPaging";
                                 on-change-quiz-list="onChangeQuizList"
                                 on-edit-row="onEditQuizRow(quizId)"
                                 on-delete-row="onDeleteQuizRow(quizId)"
                                >
            </quiz-list-component>
        </div>
    </div>
    <div class="row" ng-show="isInputQuiz">
        <div ng-hide="isEditState">
            <label class="control-label"> Câu số : {{noOfQuest}}</label>
        </div>
        <div class="row">
            <input-quiz-component subject-id="subjectId" reset-quiz="resetQuiz"
                                  quiz-obj="quizObj"></input-quiz-component>
        </div>
        <div class="row">
            <br/>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <button type="button" ng-click="onCancelCreateQuiz()" class="btn btn-default">Thoát</button>
                <button type="button" ng-click="onSaveQuizAndExit()" class="btn btn-primary">Lưu và Thoát</button>
                <button type="button" ng-hide="isEditState"
                        ng-click="onSaveQuizAndNext()" class="btn btn-primary">Lưu và Nhập tiếp</button>
            </div>

        </div>
    </div>

    <confirm-form-component show-popup="showPopupConfirm"
                            message="messageConfirm"
                            do-ok="onConfirmOk(typeConfirm)"
                            do-cancel="onConfirmCancel()">
    </confirm-form-component>

    <success-form-component show-popup="showPopupSuccess"
                            message="successMessage"
                            do-ok="doSuccessFormOk()">
    </success-form-component>

    <loading-spinner-component toggle="loadingToggle"></loading-spinner-component>
</div>