<!-- <div ng-controller="userController">

<h1>Hello Word</h1>
 
  <multiselect class="input-xlarge" multiple="true"
        ng-model="selectedCar"
        options="c.name for c in cars"
        change="selected()" ></multiselect>
</div> -->
<div class="row">
	<div class="col-md-12">
		<div class="content-box-header">
			<div class="panel-title">Cập nhật User</div>
		</div>
		<div class="content-box-large box-with-header">
			<div class="col-md-8">
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-md-2 control-label">Tên đăng nhập </label>
							<div class="col-md-10">
								<input class="form-control" type="text" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Mật
								khẩu </label>
							<div class="col-sm-10">
								<input class="form-control" type="password" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">Dành cho </label>
							<div class="col-md-10">
								<label class="radio radio-inline"> <input type="radio"
									class="radio-cus" checked="checked" /> Lớp 12
								</label> <label class="radio radio-inline"> <input type="radio"
									class="radio-cus" /> Lớp 11
								</label> <label class="radio radio-inline"> <input type="radio"
									class="radio-cus" /> Lớp 10
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Chương </label>
							<div class="col-sm-10">
								<multiselect class="input-xlarge" multiple="true"
									ng-model="selectedCar" options="c.name for c in cars"
									change="selected()"></multiselect>
								<div>
									<span ng-repeat="n in selectedCar"> {{n.name}} | </span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Chuyên đề </label>
							<div class="col-sm-10">
								<multiselect class="input-xlarge" multiple="true"
									ng-model="selectedCar" options="c.name for c in cars"
									change="selected()"></multiselect>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Trạng thái </label>
							<div class="col-sm-10">
								<label class="radio radio-inline"> <input type="radio"
									class="radio-cus" checked="checked" /> Active
								</label> <label class="radio radio-inline"> <input type="radio"
									class="radio-cus" /> Inactive
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="button" class="btn btn-default">Lưu</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>