


<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Danh sách User-Account </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="x_panel">
                <div class="row">
                    filter here..
                </div>
            </div>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Tài khoản </th>
                    <th>Môn</th>
                    <th>Tên</th>
                    <th>Số câu hỏi</th>
                    <th>Ngày nhập gần nhất</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rpUser in reportUserList">
                    <td>{{$index}}</td>
                    <td>{{rpUser.userName}}</td>
                    <td>{{rpUser.subjectName}}</td>
                    <td>{{rpUser.assignName}}</td>
                    <td>{{rpUser.totalQuiz}}</td>
                    <td>{{rpUser.lastUpdate}}</td>
                    <td><a ui-sref="volunteerQuizState({userId: rpUser.userId})"><i class="fa fa-list"></i></a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
