div.unit-list-scroll {
    height: 400px;
    overflow: scroll;
}
.listdemoListControls md-divider {
    margin-top: 0;
    margin-bottom: 0; }

.listdemoListControls md-list {
    padding-top: 0; }

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }

.step1-label{
    margin-top: 30px;
}
.previewPaperTitle span{
    width: 100%;
    text-align: center;
}