<div id="compose-paper">

    <div class="row" ng-show="false">
        classId     : {{selectedClassId}}
        <br/>
        subjectId   : {{selectedSubjectId}}
        <br/>
        typePaperId : {{selectedPaperTypeId}}
        <br/>
        modeSelectedQuiz : {{modeSelectedQuiz}}
        <br/>
        numOfQuiz : {{paper.numOfQuiz}}
    </div>

    <div class="first-step" ng-show="formStep[0]">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="step1-label">
                    <label>Chọn Lớp</label>
                </div>
            </div>
            <div class="col-md-2">
                <md-select ng-model="selectedClassId">
                    <md-option ng-value="12" ng-disabled="$index === 1">12</md-option>
                </md-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="step1-label">
                    <label>Chọn Môn</label>
                </div>
            </div>
            <div class="col-md-2">
                <md-select ng-model="selectedSubjectId">
                    <md-option ng-value="4" ng-disabled="$index === 1">Anh Văn</md-option>
                    <md-option ng-value="1" ng-disabled="$index === 1">Toán Học</md-option>
                    <md-option ng-value="2" ng-disabled="$index === 1">Vật Lý</md-option>
                    <md-option ng-value="3" ng-disabled="$index === 1">Hoá Học</md-option>
                </md-select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="step1-label">
                    <label>Loại Đề</label>
                </div>
            </div>
            <div class="col-md-2">
                <md-select ng-model="selectedPaperTypeId">
                    <md-option ng-value="1" ng-disabled="$index === 1">Đề Thi</md-option>
                    <md-option ng-value="2" ng-disabled="$index === 1">Bài Kiểm Tra</md-option>
                </md-select>
            </div>
        </div>
    </div>

    <div class="row" ng-show="formStep[1]">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Tên Đề</label>
                    <input ng-model="paperObj.name">
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Mã Đề</label>
                    <input ng-model="paperObj.code">
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <md-input-container class="md-block">
                    <label>Số lượng câu hỏi</label>
                    <input required type="number" step="any" name="numOfQuiz" ng-model="paperObj.numOfQuiz" min="0"
                           max="100"/>
                    <div ng-messages="paperObj.numOfQuiz.$error" multiple md-auto-hide="false"></div>
                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-block">
                    <label>Thời gian làm bài (phút)</label>
                    <input required type="number" step="any" name="duration" ng-model="paperObj.duration" min="5"
                           max="300"/>
                    <div ng-messages="paperObj.duration.$error" multiple md-auto-hide="false"></div>
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label></label></div>
            <div class="col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Mô tả</label>
                    <input ng-model="paperObj.description">
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <md-input-container class="md-block">
                    <label>Hướng dẫn</label>
                    <textarea ng-model="paperObj.instruction" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
                </md-input-container>
            </div>
        </div>

    </div>

    <div class="row" ng-show="formStep[2]">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <md-radio-group ng-model="modeSelectedQuiz">
                        <md-radio-button value="manual" >Lựu chọn câu hỏi</md-radio-button>
                        <md-radio-button value="random" class="md-primary"> Câu hỏi ngẫu nhiên </md-radio-button>

                        <md-slider-container>
                            <label style="max-width: 80px">Giới hạn số câu hỏi</label>
                            <md-slider ng-model="paperObj.numOfQuiz" aria-label="Disabled 1" flex md-discrete ng-readonly="readonly"></md-slider>
                            <md-input-container>
                                <input flex type="number" ng-model="paperObj.numOfQuiz" aria-label="green" aria-controls="green-slider">
                            </md-input-container>
                        </md-slider-container>

                </md-radio-group>
                <hr />
                <md-subheader class="md-no-sticky">Chuyên đề</md-subheader>
                <div layout="row" ng-show="unitList.length == 0"
                     layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div class="unit-list-scroll" ng-show="unitList.length">
                    <md-list-item ng-repeat="unitObj in unitList">
                        <p> {{ unitObj.unitName }} </p>
                        <md-checkbox class="md-secondary" ng-model="unitObj.wanted"
                                     ng-change="selectUnit(unitObj)"></md-checkbox>
                    </md-list-item>
                </div>
                <md-divider></md-divider>
                <br/>
            </div>
        </div>
    </div>

    <div class="row" ng-show="formStep[3]">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <md-subheader class="md-no-sticky">Câu hỏi</md-subheader>
            <div layout="row" ng-hide="quizList.length > 0"
                 layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div class="unit-list-scroll" ng-show="quizList.length > 0">
                <md-list-item ng-repeat="quizObj in quizList">
                    <div class="col-md-1">
                        <p> {{ quizObj.quizId }} </p>
                    </div>
                    <div class="col-md-8">
                        <p> {{ quizObj.question }} </p>
                    </div>
                    <div class="col-md-2">
                        <p> {{ quizObj.unitName }} </p>
                    </div>
                    <div class="col-md-1">
                        <md-checkbox class="md-secondary" ng-model="quizObj.wanted"
                                     ng-change="selectQuiz(quizObj)"></md-checkbox>
                    </div>
                </md-list-item>
            </div>
            <md-divider></md-divider>
            <br/>
        </div>
    </div>

    <div class="row" ng-show="formStep[4]">
        <div class="row previewPaperTitle">
            <div layout="row"><span><h3 style="text-transform: uppercase;">{{paperObj.name}}</h3> </span></div>
            <div layout="row"><span><b>{{paperObj.description}}</b></span></div>
            <div layout="row"><span><b>{{getSubjectName()}}</b></span></div>
            <div layout="row"><span><i>Thời gian làm bài : {{paperObj.duration}} phút (không kể thời gian giao đề)</i></span></div>


        </div>


        <br/>
        <md-divider></md-divider>
        <br/>
        <div layout="row" ng-hide="quizListPreview.length > 0"
             layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div ng-repeat="quizObj in quizListPreview" ng-show="quizListPreview.length > 0">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <p><b>Câu {{$index+1}}.</b> {{ quizObj.question }} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <p><b>A.</b> {{ quizObj.answerA }}</p>
                </div>
                <div class="col-md-3">
                    <p><b>B.</b> {{ quizObj.answerB }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <p><b>C.</b> {{ quizObj.answerC }}</p>
                </div>
                <div class="col-md-3">
                    <p><b>D.</b> {{ quizObj.answerD }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3" >
            <md-button class="md-primary" ng-show="crrIndexStep"
                       ng-click="onClickBack()">Quay Lại</md-button>
        </div>
        <div class="col-md-3">
            <md-button class="md-primary" ng-show="crrIndexStep < (formStep.length-1)"
                       ng-click="onClickNext()">Tiếp Tục</md-button>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>