<!--
<input-math-component latex-data="latexData"></input-math-component>
-->
<div id="eduka-content">
    <div class="row">
        <ul>
            <li><a ui-sref="redirectState"><i class="fa fa-home"></i></a></li>
            <li>{{navigateDynamic}}</li>
        </ul>
        <br/>
    </div>
    <div class="row">
        <div ui-view="content"></div>
    </div>
</div>
