<!--style="background-color: #2A3F54"-->
<div class="container body" >
        <div class="main_container">
            <!--left_col-->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div ui-view="left"></div>
                </div>
            </div>
            <!--end - left_col-->

            <!-- top navigation top_nav-->
            <div class="top_nav">
                <div ui-view="top"></div>
            </div>
            <!-- /top navigation top_nav -->

            <!-- page content right_col-->
            <div class="right_col" role="main" style="overflow:auto">
                <div ui-view="right"></div>
            </div>
            <!-- /page content right_col-->
        </div>
    </div>


    <!-- footer content -->
    <footer ng-hide="needLogin">
        <div class="pull-right">
            Eduka Admin <a href="">Eduka.io</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
