
.edk-popup{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: -1;
}
.edk-popup.is-visible{
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
    z-index: 1000;
}

.edk-popup-container{
    margin: 8em auto;
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 160px auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.edk-popup-container p{
    padding: 3em 1em;
    margin: 0px;
    font-size: medium;
}

.edk-popup-container .edk-btn{
    list-style: none;
    padding: 0px;

}
.edk-popup-container .edk-btn li{
    width: 50%;
    float: left;

}

.edk-popup-container .edk-btn:after{
    content: "";
    display: table;
    clear: both;
}

.edk-popup-container .edk-btn span{
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.edk-popup-container .edk-btn li:first-child span{
    background: #b6bece;
    border-radius: 0 0 0 .25em;
}
.edk-popup-container .edk-btn li:last-child span {
    background: #fc7169;
    border-radius: 0 0 .25em 0;
    font-weight: bold;
}

.edk-popup-container .edk-popup-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
.edk-popup-container .img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}

.edk-popup-container .edk-popup-close::before, .edk-popup-container .edk-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}
.edk-popup-container .edk-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}
.edk-popup-container .edk-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}