<div class="edk-popup" ng-class="$ctrl.popupClass" ng-show="$ctrl.showPopup">
    <div class="edk-popup-container">
        <p>
            {{$ctrl.message}}
        </p>
        <ul class="edk-btn">
            <li ng-click="$ctrl.onClickOK()" style="width: 100%"><span>Đồng Ý</span></li>
        </ul>
        <span ng-click="$ctrl.onClickOK()" class="edk-popup-close img-replace">Close</span>
    </div>
</div>
